<head>
    <title>Cuccosch</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon"/>
    <script src="../routing/index.js"></script>
</head>

<body class="wfill nomarg">
<table class="header" style="height: 10%">
    <tbody class="hfill wfill">
        <tr>
            <th class="borderdebug hfill" style="width:20%">
                <h1 class="wtext h1">
                    Cuccosch
                </h1>
            </th>
            <th class="borderdebug left_align">
                <img src="/images/cuccosch.png" alt="logo" class="hfill" style="max-height: 130px"/>
            </th>
            <th class="borderdebug" style="width: 19%">
                <a href="/">
                    <h1 class="wtext pages <% if(tab!== undefined && tab === 'cuccok') { %>
                                primary_color
                            <% } %> ">
                        Cuccok
                    </h1>
                </a>
            </th>
            <th class="borderdebug" style="width: 17%">
                <a href="/szobak">
                    <h1 class="wtext pages <% if(tab!== undefined && tab === 'szobak') { %>
                    primary_color
                            <% } %> ">
                        Szobák
                    </h1>
                </a>
            </th>
            <th class="borderdebug" style="width: 17%">
                <a href="/login">
                    <h1 class="wtext pages">
                        Belépés
                    </h1>
                </a>
            </th>

        </tr>
    </tbody>
</table>