<html>
<%- include('header') -%>
</body>


<form action="/login" style="margin-top: 10%">
    <table class="wfill center-align" style="margin-top: 5%">
        <tr>
            <th colspan="2" class="borderdebug font f50 black center-align hfill" style="margin: 30px; vertical-align: center">
                Bejelentkezés
            </th>
        </tr>
        <tr class="borderdebug">
            <th colspan="2" class="borderdebug">

                <input type="text" , placeholder="Felhasználónév" ,
                       style="text-align: center; width: 30%; font-size: 30px;margin: 30px"
                       class="font"><br>

                <input type="text" placeholder="Jelszó" class="tag font" style="margin-top: 30px; margin-bottom: 50px"
                       ,>
            </th>
        </tr>
        <tr>

            <th class="borderdebug" style="width: 50%; margin-left: 100%; padding-right: 20px">
                <input type="submit" value="Belépés" style="font-size: 20px;width: 30%; color: white; text-align: center;
      float: right; border: none; font-weight: bold" class="wtext pages">
            </th>
            <th class="borderdebug" style="text-align: left; padding-left:20px">
                <a href="/">
                    <h2 style="font-size: 20px;width: 30%; color: white; text-align: center" class="wtext pages">
                        Vissza
                    </h2>
                </a>


            </th>
        </tr>
    </table>
</form>


</html>
<style></style>
