<html>
<%- include('header') -%>
<form method="post" style="padding-top: 10%">
    <table class="center-align wfill">
        <tr>
            <th colspan="2" class="borderdebug center-align">
                <p class="f50 black">
                    Új szoba hozzáadása
                </p>
            </th>
        </tr>
        <tr class="borderdebug">
            <th colspan="2" class="borderdebug">
                <label for="szobaszam" class="font f30">
                    Szobaszám:<br>
                </label>
                <input id="szobaszam" name="szobaszam" class="font f30" type="text" placeholder="Szobaszám"
                       style="text-align: center; width: 30%;margin: 30px"><br>
                <label class="font f30" for="">
                    Tagok:<br>
                </label>
                <input id="lako1" name="lako1" class="font tag" type="text" placeholder="Tag1" style="margin-top: 30px">
                <br>
                <input id="lako2" name="lako2" class="font tag" type="text" placeholder="Tag2">
                <br>
                <input id="lako3" name="lako3" class="font tag" type="text" placeholder="Tag3">
                <br>
                <input id="lako4" name="lako4" class="font tag" type="text" placeholder="Tag4">
            </th>
        </tr>
        <tr>

            <th class="borderdebug" style="width: 50%; margin-left: 100%; padding-right: 20px">
                <input type="submit" class="wtext pages white noBorder center-align" value="Mentés"
                       style="font-size: 20px;width: 30%; float: right;font-weight: bold">
            </th>
            <th class="borderdebug" style="text-align: left; padding-left:20px">
                <a href="/szobak">
                    <h2 class="wtext pages white center-align white" style="font-size: 20px;width: 30%" >
                        Mégse
                    </h2>
                </a>


            </th>
        </tr>
    </table>
</form>


</html>
<style></style>
